<p>add-content works!</p>
<h2>{{course?.title}}</h2>
<div class="form">
    <fieldset>
        <legend>Tworzenie Kursu</legend>
        <div>
            <input id="course-title" placeholder="Text"/>
        </div>
        <div>
            <label for="scales">Typ Kursu:</label>
        </div>
        <div>
            <input type="checkbox" id="eye" name="eye">
            <label for="eye">Wzrokowiec</label>
        </div>
        <div>
            <input type="checkbox" id="ear" name="ear">
            <label for="ear">Słuchowiec</label>
        </div>
        <div>
            <input type="checkbox" id="work" name="work">
            <label for="work">Działaniowiec</label>
        </div>
    </fieldset>
    <div>
        na spodzie formularza
    </div>
</div>
<div class="form">
    sztopka
</div>