<mat-nav-list>
    <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Strona główna</span>   
    </a>
    <a mat-list-item routerLink="/courses" (click)="onSidenavClose()">
        <mat-icon>collections_bookmark</mat-icon> <span class="nav-caption">Kursy</span>
    </a>
    <a mat-list-item routerLink="/init-quiz" (click)="onSidenavClose()">
        <mat-icon>check_box</mat-icon><span class="nav-caption">VAK quiz</span>
    </a>
    <button mat-list-item (click)="myType()">
        <mat-icon>mood</mat-icon><span class="nav-caption">Mój Typ?</span>
    </button>
    <button mat-list-item (click)="whoAmI()">
        <mat-icon>person_outline</mat-icon><span class="nav-caption">Kim Jestem?</span>
    </button>
    <button mat-list-item (click)="logOut()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Wyloguj</span>
    </button>
  </mat-nav-list>
