<h2 class="center"> Lista kursów </h2>
<div>
    <label for="new-course">Nazwa kursu: </label>
    <input id="new-course" #courseName />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(courseName.value); courseName.value=''">
      <mat-icon>add</mat-icon>
    </button>
</div>
<div class="center">
  <ul class="courses">
      <li *ngFor="let course of courses">
          <a routerLink="/detail/{{course.id}}">
              <span class="badge">{{course.id}}</span>{{course.title}}
          </a>
          <button type="button" class="delete" title="delete course"
          (click)="delete(course)"><mat-icon>delete</mat-icon></button>
      </li>
  </ul>
</div>
