


<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="p-2"> Numer artykułu{{this.id}}</div>
        <mat-card>
            <mat-card-content>
                Artykuł jest pusty.
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/glitch">Glitch Error</button>
                <button mat-raised-button color="primary" routerLink="/glitch">Glitch Error</button>
                <button mat-raised-button color="primary" routerLink="/bootstrap-page">Bootstrap Page</button>
                <button mat-raised-button color="primary" routerLink="/glitch">Glitch Error</button>
                <button mat-raised-button color="primary" routerLink="/glitch">Glitch Error</button>
            </mat-card-actions>
        </mat-card>
        
    </div>
</div>
