
<div [className]="dark() ? 'dark-theme' : ''">
  <div class="mat-app-background">
    <div *ngIf="!isLoggedIn">
        <app-login-page ></app-login-page>
    </div>
    <div *ngIf="isLoggedIn">
    
      <mat-sidenav-container>
          <mat-sidenav #sidenav role="navigation">
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>

          </mat-sidenav-content>
      </mat-sidenav-container>
      
      <router-outlet class="h-100"></router-outlet>
      <div class="h-100">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>

<!--
    login page
<div *ngIf="!isLoggedIn">
<app-login-page ></app-login-page>
</div>
<div *ngIf="isLoggedIn">
    <app-glitch></app-glitch>
</div>
-->
<!--
    test bootsrap
<app-bootstrap-page></app-bootstrap-page>
-->
<!--
<app-display-courses></app-display-courses>
-->