<div *ngIf="!isLoggedIn">
    <app-login-page ></app-login-page>
</div>
<div *ngIf="isLoggedIn">
<h1>{{title}}</h1>
<nav>
    <a routerLink="/courses">Kursy</a>
    <a routerLink="/dashboard">Strona Główna</a>
    <button (click)="logOut()">Wyloguj</button>
    <button (click)="whoAmI()">Kim Jestem?</button>
    <button (click)="myType()">Mój Typ?</button>

</nav>

<router-outlet></router-outlet>
</div>
<!--
    login page
<div *ngIf="!isLoggedIn">
<app-login-page ></app-login-page>
</div>
<div *ngIf="isLoggedIn">
    <app-glitch></app-glitch>
</div>
-->
<!--
    test bootsrap
<app-bootstrap-page></app-bootstrap-page>
-->
<!--
<app-display-courses></app-display-courses>
-->