<body>
		

    <section>
        <div class="rt-container">
              <div class="col-rt-12">
                  <div class="Scriptcontent">
                  
                  <!-- DEMO CONTENT -->
                  
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div>
                  <div class="glitch" data-text="#ERROR">#ERROR</div> 
                </div>
            </div>
        </div>
    </section>
         
    
       <!-- ANALYTICS -->
    
        </body>