
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label><br>
    <input id="first-name" type="text" formControlName="firstName"><br>
    <input id="last-name" type="checkbox" formControlName="lastName">
    <label for="last-name">&nbsp;Last Name</label>
    
    <br>
    <p>Complete the form to enable button.</p>
    <button type="submit" >Submit</button> 


<div formGroupName="address">
    <h2>Address</h2>
  
        <label for="street">Street: </label><br>
        <input id="street" type="text" formControlName="street"><br>
    
        <label for="city">City: </label><br>
        <input id="city" type="text" formControlName="city"><br>
    
        <label for="state">State: </label><br>
        <input id="state" type="text" formControlName="state"><br>
    <button type="button" (click)="updateProfile()">Update Profile</button>

    <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">+ Add another alias</button>
      
        <div *ngFor="let alias of aliases.controls; let i=index">
          <!-- The repeated alias template -->
          <label for="alias-{{ i }}">Alias:</label>
          <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
    </div>

      <p>Form value: {{profileForm.value}}</p>
      <p>Form Status: {{ profileForm.status }}</p>
</div>

</form>