

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nr. Lekcji</th>
            <th scope="col">Tytuł</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of lista">
            <th scope="row">{{list[0]}}</th>
            <td>{{list[1]}}</td>
            <td><button routerLink="/article/{{1}}"> Otwórz </button></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">Nr. Testu</th>
          <th scope="col">Tytuł</th>
          <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let list of quizList">
          <th scope="row">{{list.id}}</th>
          <td>{{list.text}}</td>
          <td><button routerLink="/quiz/{{list.id}}"> Rozwiąż </button></td>
      </tr>
  </tbody>
</table>

